{#<nav >
    <a href="#home">GSB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div >
        <ul >
            <li >
                <a ><i class="far fa-edit"></i> Saisie des Frais</a>
            </li>
            <li >
                <a ></a>
            </li>
            <li >
                <a  href=""><i class="far fa-calendar-alt"></i>Historique</a>
            </li>
        </ul>
        <ul >
            <li >
                <a  href="#" ><i class="far fa-user"></i>
                    { app.session.get('nom') }} {{ app.session.get('prenom') }}
                </a>
                <div >
                    <a href="">Informations personnel</a>
                    <a href="">Modifier Mot de Passe</a>
                    <a href="">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>#}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GSB</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <ul id="left">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user">{{ app.session.get('nom') }} {{ app.session.get('prenom') }} </i> 
        </a>
        </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Informations personnel</a>
          <a class="dropdown-item" href="#">Modifier Mot de Passe</a>
          <a class="dropdown-item" href="#">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
