{% extends "base.html.twig" %}

{% block title %} Visiteur {% endblock %}

{% block body %}

<div class="row">
    
    <div  class="col-lg-4"> 
        <div  class="bd-callout bd-callout-green wh-100">
            {% include '@visiteur/ligneFrais.html.twig' %}
        </div>
        <div class="bd-callout bd-callout-green wh-100">
            {% include '@visiteur/ligneHorsFrais.html.twig' %}
        </div>
    </div>
    <div class="col-lg-8">
    
    </div>
</div>

{% endblock %}