{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}    
    <a  href="{{ path( 'saisir' ) }}">Saisir</a>
    <a  href="{{ path( 'choixMois') }}"> Choisir mois de consultation  </a>    
{% endblock %}